.footer {
    display: flex;
    justify-content: center;
    background-color: #1677ff;
    height: 80px;
    // background-color:#001529;
}

.footerText {
    font-size: 25px;
    align-items: center;
    justify-content: center;
}