.content{
  min-height: 580px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.title {
  text-align: center;
  background-color: #001529;
  color:white ;
  font-size: 28px;
  margin: 5px;
  padding: 1px;
  border: 1px black solid;
  border-radius: 10px;
}

div{
  margin: auto;
  padding: 0;
}

.item{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px #ebebeb solid ;
  border-top: 1px#ebebeb solid;
}

.item:hover{
  background-color:#ebebeb;
}

.total{
  display: flex;
  flex-direction: column;
  float: right;
  margin: 5px;
  font-size: 20px;
}

.totales{
  margin: 0;
  font-size: 15px;
  text-align: right;
}

.imgItem{
  width: 100px;
  height: 100px;
}