/* Gricecito #ebebeb;
Azul Oscuro Menu  #001529;
Celeste #1677ff;
*/

/* .cartContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */

/* .cartList{
    background-color: rgb(255, 255, 255);
    width: 1800px;
} */


/* .item{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px #ebebeb solid ;
    border-top: 1px#ebebeb solid;
} */

.prodItemPrecio{
    width: 100px;
}

.prodCartButtons{
    display: flex;
    flex-direction: column;
}

.buyNowButton{
    margin-bottom: 10px;
    Button{
        width: 151px;
    }
}

.continuarCompraButton{
    margin: 5px;
}

/* b{
    font-size: 20px;
} */

/* .titulo{
    font-weight: 700;
    font-size: x-large;
} */

/* .label-no-elements{
    padding: 5px;
    margin-top: 10px;
    margin-left: 30%;
} */